/*
// Large screens styling
*/

@media only screen and (min-width: 1024px) {
  body{
    display: flex;
    flex-direction: row;
  }

  .header {
    width: 33.3%;
    float: left;
    max-width: 400px;
    max-height: 400px;
    margin-top: 200px;
    margin-left: 40px;
    margin-right: 40px;

  }

  .container {
    width: 66.7%;
    float: right;
    font-size: 20px;
    margin-right: 40px;
  }

  .new-tweet {
    margin-top: 200px;
  }
}